* {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 150%;
/* or 15px */



}

.navlogo {
  background: #F55A5A;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
}

.navlogo-text {
  margin-left: 40%;
}

.cards-list {
  margin-top: 90px;
  
}

.card-wrapper {
  width: 1100px;
  max-width: 1200px;
  margin-left: 10%;

}

.card {
  display: flex;
  padding: 30px;
  
}

.card-image{
  width: 300px;
  height: 200px;
  max-width: 500px;
  border-radius: 10px;
}

.card-info {
  margin-left: 40px;
}

.card-info-location{
  display: flex;
  flex-direction: row;
}

.card-info-country{
  margin:0px 10px;
}

.card-info-point {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.card-location-link{
  color: gray;
  text-decoration: none;
}

